.btn {
  padding: 12px 16px;
  border-radius: 4px;
  text-decoration: none;
  font-weight: 600;
}

.btn-green {
  color: white;
  background: #2b580c;
}

.btn-green:hover {
  background: #639a67;
}

.btn-blue {
  color: white;
  background: #0f4c75;
}

.btn-blue:hover {
  background: #3282b8;
}

