.card-product {
  display: flex;
  align-items: center;
  background: white;
  height: 150px;
  box-shadow:  3px 2px 2px 0px #0000002b;
}

.card-product img {
  height: 100%;
  margin-right: 15px;
}

.card-product h2 {
  margin: 0;
  font-size: 16px;
}

.card-product p {
  margin: 0;
}
