.container {
  /* TODO */
  width: 500px;
  margin: 0 auto;
  /*border: 1px solid #CCCCCC;*/
}
/*
@media (min-width: 576px) {
  .container {
    width: 400px;
    margin: 0 auto;
  }

@media (min-width: 768px) {
  .container {
    width: 500px;
    margin: 0 auto;
  }
}

@media (min-width: 992px) {
  .container {
    width: 700px;
    margin: 0 auto;
  }
}

}

*/
