<p><%= flat.name %></p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Necessitatibus accusamus delectus quae cumque maxime deleniti deserunt, temporibus placeat beatae aliquam, doloribus, officia. Doloribus, mollitia repudiandae nostrum sed animi quis sapiente.</p>
