<h1>Restaurants</h1>


<ul>
  <% @restaurants.each do |restaurant| %>
    <li>

      <a href="/restaurants/<%= restaurant.id %>"><%= restaurant.name %> </a>


    </li>
  <% end %>
</ul>


<hr>


<form action="/restaurants" method="post">
  <label>
    Name:
    <input type="text" name="name">
  </label>
  <br>
  <label>
    Address:
    <input type="text" name="address">
  </label>
  <br>
  <input type="submit">
</form>
